.bg-1QIAus, .platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA, .container-1NXEtd, .container-YkUktl, .container-YkUktl .avatar-1EWyVD {
    background-color: black;
}
.item-2LIpTv {
    background-color: #B026FF;
}
.homeIcon-r0w4ny, .name-3Uvkvr, .title-17SveM {
    color: #B026FF;
}
.childWrapper-1j_1ub {
    background-color: #232426;
}
.scrollerInner-2PPAp2, .container-ZMc96U.themed-Hp1KC_, .scroller-kQBbkU, .form-3gdLxP, .members-3WRCEx, .members-3WRCEx>div {
    background-color: black;
}
.theme-dark .form-3gdLxP:before {
    display: none;
}
.scrollableContainer-15eg7h {
    background-color: #1f1f1f;
    border: 0.5px solid #B026FF;
}
.header-3_zmOb {
    background-color: black;
}
.container-2c4_8A, .list-1uSVgu {
    background-color: #1f1f1f;
}
.container-2rzKKA, .container-2rzKKA:hover {
    background-color: #1d1d1d;
    border-color: #B026FF;
}
.theme-dark .list-1uSVgu .tabBar-3N44FC .tab-1tp4jL.active-3WMEyE, .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: rgb(183, 58, 255);
}
.closeIcon-11tHJX, .threadIcon-rd1kqG, .searchIcon-zpxirk:hover, .base-21yXnu {
    color: #B026FF;
}
.scroller-3iiyhZ, .searchHeader-1r_ZSh, .searchHeaderTabList-3CZMQB {
    background-color: black;
}
.message-24k8JL, .channelName-3w2Y3c, .messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN {
    background-color: #1f1f1f;
}
.colorHeaderPrimary-jN_yGr {
    color: #B026FF;
}
.side-2ur1Qk .header-2Kx1US, .side-2ur1Qk .item-3XjbnG {
    color: #B026FF;
}
.theme-dark .activeButton-LRWFC_, .theme-dark .activeButton-LRWFC_:hover, .theme-light .activeButton-LRWFC_, .theme-light .activeButton-LRWFC_:hover {
    background-color: #B026FF;
}
.header-1w9Q93, .messagesPopout-eVzQcI {
    background-color: black;
    border: 1px solid #B026FF;
    border-radius: 5px;
}
.slateTextArea-27tjG0 {
    caret-color: rgb(178, 48, 253);
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: rgba(175, 38, 255, 0.425);
}
.wrapper-2vIMkT {
    background-color: rgba(175, 38, 255, 0.309);
}
.scroller-18M1mG {
    background-color: #131313;
    border: 0.3px solid #B026FF;
    border-radius: 5px;
}
.theme-dark .selected-3H3-RC {
    background-color: rgba(175, 38, 255, 0.309);
}
.cozy-VmLDNB .timestamp-p1Df1m {
    color: rgba(175, 38, 255, 0.952);
}
.container-q97qHp {
    color: rgba(175, 38, 255, 0.822);
}
.scroller-1bVxF5 {
    background-color: black;
}
.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: rgba(175, 38, 255, 0.679);
}
.contentWrapper-3vHNP2 {
    background-color: black;
    border: 1px solid #B026FF;
}
.navButton-1XuvI- {
    color: #B026FF;
}
.navButtonActive-1EqC5l {
    background-color: rgba(175, 38, 255, 0.377);
}
.inner-2pOSmK {
    background-color: #1d1d1d;
}
.input-2m5SfJ {
    caret-color: rgb(178, 48, 253);
}
.icon-3CDcPB {
    color: #B026FF;
}
.packHeader-w9jpYl, .wrapper-1NNaWG, .inner-1NoIT5, .inner-2pOSmK {
    background-color: #131313;
}
.list-obNEuP {
    background-color: black;
}
.premiumCategorySelected-2KWLhN, .premiumCategorySelected-2KWLhN:hover, .stickerCategoryGenericSelected-DnO2K8, .stickerCategoryGenericSelected-DnO2K8:hover {
    background-color: black;   
    color: #B026FF;
}
.headerIcon-2Gk2OH+.headerLabel-1g790w, .header-1XpmZs {
    color: #B026FF;
}
.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ, .emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: rgba(175, 38, 255, 0.356);
}
.inspector-DFKXwB {
    background-color: black;
}
.categoryItemDefaultCategorySelected-2YeRUu .categoryIcon-2cYeku, .categoryItemDefaultCategorySelected-2YeRUu:hover .categoryIcon-2cYeku {
    color: #B026FF;
}
.categoryItemDefaultCategory-3haEDq:last-child {
    background-color: black;
}
.unicodeShortcut-3N8oDe {
    background-color: black;
}
.clickable-28SzVr.container-1oeRFJ:active, .highlighted-3PcOfB.container-1oeRFJ, .selected-1-Z6gm.container-1oeRFJ {
    background-color: rgba(175, 38, 255, 0.411);
}
.headerTop-3GPUSF, .body-2wLx-E,.bodyInnerWrapper-2bQs1k, .footer-3naVBw {
    background-color: black;
}
.input-2g-os5, .input-2g-os5.focused-1AtTHC, .input-2g-os5:focus  {
    border: 1px solid #B026FF;
    color: #B026FF;
    background-color: #1d1d1d;
}
.role-2TIOKu {
    background-color: rgba(175, 38, 255, 0.35);
}
.content-3spvdd {
    background-color: rgba(175, 38, 255, 0.226);
    color: #B026FF;
}
.icon-18rqoe, .wordmarkWindows-2dq6rw {
    color: #B026FF;
}
.total-1c5KCN  {
    background-color: rgb(101, 7, 155);
    color: whitesmoke;
}
.total-1c5KCN:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 8px solid transparent;
    border-right-color: rgb(101, 7, 155);
}
.users-2JoyGL {
    background-color: rgba(195, 91, 255, 0.596); 
    color: white;
}
.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh,.contentRegionShownSidebar-fHXkEg {
    background-color: black;
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: rgba(175, 38, 255, 0.199);
}
.userInfo-regn9W {
    background-color: black;
}
.accountProfileCard-lbN7n- {
    background-color: black;
}
.background-3d_SjE,.fieldList-in8WkP {
    background-color: #1d1d1d;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: rgba(175, 38, 255, 0.822);
}
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
    background-color: rgba(175, 38, 255, 0.822);
}
.defaultColor-2cKwKo {
    color: #B026FF;
}
.grid-1aWVsE {
    background-color: #131313;
}
.upload-3GTSF9 {
    background-color: #232426;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: #1d1d1d;
}
.privateChannels-oVe7HL, .searchBar-3TnChZ, .scroller-WSmht3, .peopleColumn-1wMU14, .scroller-hE2gWq {
    background-color: black;
}
.wrapper-2RrXDg {
    background-color: #1d1d1d;
    border: 1px solid #B026FF;
}
.section-3G9aLW {
    background-color: #232426;
}
.actionButton-3-B2x- {
    background-color: rgba(175, 38, 255, 0.336);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: #1d1d1d;
}
.button-12Fmur {
    color: rgba(175, 38, 255, 0.733);
}
.channelHeader-DFRX8q {
    background-color: #131313;
}
.messageContainer-3VTXBC, .messages-23can0 {
    background-color: #1d1d1d;
}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: #B026FF;
}
.scroller-145h9c, .customScroller-m1-jZn {
    background-color: black;
}
.container-3EtAkD {
    background-color: rgba(175, 38, 255, 0.302);
}
.full-motion .button-1_oXub {
    background-color: rgba(175, 38, 255, 0.336);
}
.wrapper-24fR1R {
    background-color: transparent;
}
.tierHeaderContent-2SPBAA {
    background-color: #1d1d1d;
}
.theme-dark .tierBody-1d3UiS {
    background-color: #232426;
}
.theme-dark .perksModal-CLcR1c {
    background-color: black;
}
.theme-dark .ctaBar-Nhk8yY, .theme-dark .tierMarkerBackground-G8FoN4 {
    background-color: #232426;
}
.theme-dark .tierBody-3ju-rc {
    background-color: #1f1f1f;
}
.theme-dark .perk-19D_HN {
    background-color: #1d1d1d;
}
.theme-dark .root-g14mjS,.theme-dark .footer-31IekZ {
    background-color: black;
}
.radioBar-3w9XY-,.wrapper-1b33hy .select-1Ia3hD {
    background-color: #1f1f1f;
}
.h5-2RwDNl {
    color: #B026FF;
}
.contentColumnDefault-3eyv5o, .contentRegionScroller-2_GT_N, .popoutInfo-16MuYF {
    background-color: black;   
}
.upsellContainer-3qKRln,.notice-5OG6bf {
    background-color: #1f1f1f;
}
.cameraWrapper-1hB0cM, .preview-38jjUi {
    background-color: #1f1f1f;
}
.previewMessage-2uxBrA {    
    background-color: #232426;
}
.barFill-2Bh7CX {
	background: #B026FF;
}
.container-1zzFcN, .activityPanel-9icbyU{
    background-color: black;
    border-color: black;
}
.divider-2rZFJK{
    --divider-color: #B026FF; 
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover{
    background-color: #1f1f1f;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx{
    background-color: rgb(100, 20, 175);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover{
    background-color: #1f1f1f;
}
.mention-3XBnnZ{
    background-color: #B026FF;
    color: black;
}
.base-3IDx3L{
    color: black;
}
.theme-dark {
    --scrollbar-auto-thumb: #B026FF;
    --scrollbar-auto-track: #1f1f1f;
}
.container-2o3qEW{
	background-color: black !important;
}
.wrapper-15CKyy{
    background-color: black;
}
	
